[
 {nova, [
         {environment, test},
         {cowboy_configuration, #{
                                  port => 8099
                                 }},
         {bootstrap_application, my_first_nova},
         {plugins, [
                    {pre_request, nova_request_plugin, #{decode_json_body => true,
                                                          read_urlencoded_body => true}}
                   ]}
        ]},
 {my_first_nova, [
    {database, <<"my_first_nova_dev">>}
 ]}
].
