services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: my_first_nova_dev
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
